<!DOCTYPE HTML>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title><%= title%></title>

  <!-- css -->
  <link rel="stylesheet" href="/stylesheets/bootstrap.min.css"/>
  <link rel="stylesheet" href="/stylesheets/bootstrap-theme.min.css"/>
</head>
<body>
  <nav class="nav navbar-default">
    <ul class="nav navbar-nav">
      <li><a href="/">HOME</a></li>
      <% if (!user) { %>
      <li><a href="/register">REGISTER</a></li>
      <li><a href="/login">LOGIN</a></li>
      <% }
      else {
      %>
      <li><a href="/drinks">DRINKS</a></li>
      <li><a href="/users">USERS</a></li>
      <li><a href="/logout">LOGOUT</a></li>
      <div class="navbar-right">Welcome <%= user.username %></div>
      <% } %>
    </ul>
  </nav>

</body>
