<% include partials/header.ejs %>

<h1>Drink Details</h1>

<!-- Action says which page will get the action, if we don't add an action, it wil post to itself -->
<!-- POST - , GET - puts parameters on URL -->
<form method= "post">
  <div class="form-group">
    <label for="name" class="col-sm-2 control-label">Name:</label>
    <input name="name" id="name" required/>
  </div>
  <div class="form-group">
    <label for="drinkType" class="col-sm-2 control-label">Type:</label>
    <select name="drinkType" id="drinkType" >
      <option>Sangria</option>
      <option>Vodka</option>
      <option>Whiskey</option>
    </select>
  </div>
  <div class="form-group">
    <label for="size" class="col-sm-2 control-label" required type="number" min="0">Size:</label>
    <input name="size" id="size" />
    <select name="units" id="units" >
      <option>ml</option>
      <option>oz</option>
    </select>
  </div>
  <div class="form-group">
    <label for="alcoholPercentage" class="col-sm-2 control-label">Alcohol %:</label>
    <input name="alcoholPercentage" id="alcoholPercentage" required type="number" min="0" />
  </div>
  <button class="btn btn-success col-sm-offset-2">Save</button>
</form>

<% include partials/footer.ejs %>